# Server Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET="your_jwt_secret_here"
ADMIN_EMAIL="admin@example.com"

# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/apnakhata?schema=public"

# Email Configuration
EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
EMAIL_USER="your-email@example.com"
EMAIL_PASS="your-email-password"
EMAIL_FROM="Apna Khata <no-reply@apnakhata.com>"

# Frontend URL
CLIENT_URL="http://localhost:3000"

# Cloudinary (Optional - for receipts) you can implement it later
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Sentry (Optional - for production error tracking)
SENTRY_DSN=""
